body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.help {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  font-family: 'Nanum Pen Script', cursive;
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease;
}

.help.hide {
  opacity: 0;
}

.help .text {
  color: #414141
}

.help .text.description {
  color: rgba(0,0,0,0.5)
}

.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-user-select: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-spin infinite 1s linear;
  }

  .circle.selected {
    animation: circle-selected infinite 1s linear;
  }
}

@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle-selected {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}